<h2>Liste des utilisateurs:</h2>
<div class="userPanel">
  <section class="user_list">
    <article *ngFor="let user of users$ | async">
      <div class="user_infos">
        <p>Id : {{ user.id }}</p>
        <hr />
        <p>Prénom : {{ user.firstname }}</p>
        <hr />
        <p>Nom: {{ user.lastname }}</p>
      </div>
      <div class="user_infos">
        <p>Email : {{ user.email }}</p>
        <hr />
        <p>Role : {{ user.type }}</p>
      </div>
      <div class="user_infos">
        <p [ngStyle]="{ color: user.statut ? 'green' : 'red' }">
          Statut : {{ user.statut == true ? "Actif" : "Suspendu" }}
        </p>
      </div>
    </article>
  </section>
  <section>
    <button (click)="toggleRegister()">Ajouter un nouveau Membre</button>
    <app-register *ngIf="showRegister"></app-register>
  </section>
</div>
