<section>
  <h1>Inscrivez-vous !</h1>
  <div>
    <p>register infos!</p>
    <p>First Name: {{ newUser.firstname }}</p>
    <p>Last Name: {{ newUser.lastname }}</p>
    <p>Email: {{ newUser.email }}</p>
    <p>Password: {{ newUser.password }}</p>
  </div>

  <div class="register_form">
    <form (ngSubmit)="onSubmit()">
      <label for="firstname">First name:</label>
      <input
        type="text"
        [(ngModel)]="newUser.firstname"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <label for="lastname">Last name:</label>
      <input
        type="text"
        [(ngModel)]="newUser.lastname"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <label for="email">Email:</label>
      <input
        type="text"
        [(ngModel)]="newUser.email"
        [ngModelOptions]="{ standalone: true }"
        #email="ngModel"
        required
        email
      />
      <div *ngIf="email.errors">
        <span *ngIf="email.errors?.['email']">Adresse mail invalide</span>
      </div>
      <label for="password">Mot de passe:</label>
      <input
        type="text"
        [(ngModel)]="newUser.password"
        [ngModelOptions]="{ standalone: true }"
        #password="ngModel"
        minlength="6"
        required
      />
      <div *ngIf="password.errors">
        <span *ngIf="password.errors?.['minlength']">Minimum 6 caractères</span>
      </div>
      <input type="submit" value="Inscription" />
      <button (click)="sayHello()">Valider</button>
    </form>
  </div>

  <ul>
    <li *ngFor="let song of songList">
      {{ song }}
    </li>
  </ul>
</section>
