section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1em;
  }
}

h1 {
  text-align: center;
}

@media screen and (min-width: 600px) {
  section {
    display: flex;
    flex-direction: row;
  }
}
