<section>
  <h1>Connexion</h1>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        [(ngModel)]="LogInfos.email"
        name="email"
        id="email"
        required
      />
    </div>
    <div>
      <label for="password">Mot de passe:</label>
      <input
        type="text"
        [(ngModel)]="LogInfos.password"
        name="password"
        id="password"
        required
        #password="ngModel"
      />
    </div>
    <div *ngIf="password.errors">
      <p *ngIf="password.errors?.['required']">Le Mot de passe est requis</p>
    </div>
    <p><link />Mot de passe oublié?<link /></p>
    <p>
      <a [routerLink]="['/register']">Créer un compte</a>
    </p>
    <input type="submit" value="Connexion" />
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</section>
