<div class="user_profile_container" *ngIf="user$ | async as user; else notLoggedIn">
  <section class="history_test_section">
    <div class="section_title">
      <img src="../../../assets/lotus.png">
      <h2>Historique des tests</h2>
    </div>
     <div  class="history_test_card_container">
        <article class="history_test_card" *ngFor="let userTestResult of userTestResultList">
          <p class="card_title"><strong>{{userTestResult.title}}</strong></p>
          <div class="history_test_score">
            <p><strong>Le:</strong> {{userTestResult.realizeDate}}</p>
            <p class="card_score"><strong>Score:</strong> {{userTestResult.score}}</p>
          </div>
          <div class="history_test_info">
            <p><strong>Résultat:</strong> <br>{{userTestResult.textResult}}</p>
          </div>
        </article>
      </div>
  </section>
  <section class="change_password_section">
    <div class="section_title">
      <img src="../../../assets/lotus.png">
      <h2>Modifier mon mot de passe</h2>
  </div>
    <form class="chamge_password_form" (ngSubmit)="onSubmit()">
      <p>Veuillez renseigner le nouveau mot de passe:</p>
      <div>
        <input class="text_input" 
          type="text" 
          [(ngModel)]="newPassword.password"
          name="password" 
          required
        />
      </div>
        <input type="submit" value="Valider" />
    </form>
  </section>
  <section class="contact_section">
    <div class="section_title">
      <img src="../../../assets/lotus.png">
      <h2>Contacter l'administrateur</h2>
   </div>
    <div class="contact_link">
      <a href="mailto:admin@cesizen.com">Envoyer un mail</a>
      <img src="../../../assets/e-mail.png">
    </div>
    
  </section>
</div>

<ng-template #notLoggedIn>
    <h1>
      Bienvenue sur l'application Cesizen, veuillez vous connecter pour accéder à cette page.
    </h1>
  </ng-template>