@use "../../../variables" as *;

section.result_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    article.result_presentation{
        display: flex;
        flex-direction: column;
        gap: 1em;
    img{
        border-radius: 8em;
        box-shadow: 1px 1px 10px 2px rgba(65, 65, 65, 0.1019607843)
    }
    div.result_score{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        p{
            font-size: 22px;
        }
        div.result_text{
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1em;
            border-radius: 2em;
            background-color: rgba(0, 163, 136, 0.2);
            box-shadow: 1px 1px 10px 2px rgba(65, 65, 65, 0.1019607843)
        }
    }
    }
    div.result_button{
        display: flex;
        button.skip_button{
            background-color: rgba(206, 197, 25, 1);
        }
        button.skip_button:hover{
            background-color: #fefefe;
            color: rgba(206, 197, 25, 1);
            border: 1px solid rgba(206, 197, 25, 1);
        }
    }
}

/* 🔹 Pour les écrans de plus de 768px (tablette & desktop) */
@media screen and (min-width: 768px) {
    section.result_container{
        margin: auto;
        align-items: center;
        gap:3em;
        article.result_presentation{
            display: flex;
            flex-direction: row;
            gap:3em;
            width: 80%;
            img{
                width: 350px;
            }
            div.result_score{
                display: flex;
            }
        }
    }
    div.result_button{
        gap: 1em;
    }
}