@use "../variables" as *;
main {
  padding: 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em clamp(0.5rem, 4vw, 2rem);
  gap: 2em;
  cursor: pointer;
  border-bottom: $border_header;
  img {
    display: none;
  }
  .header_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 60px;
      color: rgba(0, 163, 136, 1);
      font-weight: 400;
    }
    h2 {
      font-family: "Italiana";
      font-size: 24px;
      color: $secondary_dark;
      font-weight: bold;
      letter-spacing: 5px;
      text-align: center;
    }
  }
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  p{
    a{
      color:rgb(4, 133, 119);
    }
  }
}

//Pour les écrants de plus de 768px (tablette)
@media screen and (min-width: 768px) {
  main {
    padding: 2em;
  }

  header {
    border: none;
    img {
      display: initial;
      max-height: 100px;
    }
  }
}
