<h2>
  Page de modification {{ type === "test" ? "du test" : "de l'article" }}:
</h2>
<section class="ressource-header" *ngIf="ressource">
  <div *ngIf="!isEditing; else editMode">
    <h1>{{ ressource.title }}</h1>
    <p>
      <strong>Date de création :</strong>
      {{ ressource.publicationDate | date }}
    </p>
    <p>
      <strong>Date de modification :</strong>
      {{ ressource.updateDate | date }}
    </p>
    <p>{{ ressource.headerIntroduction }}</p>
    <img [src]="ressource.headerImage" alt="Image de l'ressourceData" />

    <button (click)="toggleEdit()">Modifier</button>
  </div>

  <!-- Mode édition -->
  <ng-template #editMode>
    <form #ressourceForm="ngForm">
      <label>Titre :</label>
      <input type="text" [(ngModel)]="ressource.title" name="title" />

      <label>Introduction :</label>
      <textarea
        [(ngModel)]="ressource.headerIntroduction"
        name="introduction"
      ></textarea>

      <label>Image :</label>
      <input
        type="text"
        [(ngModel)]="ressource.headerImage"
        name="image"
        placeholder="URL de l'image"
      />

      <button type="button" (click)="saveRessource()">Enregistrer</button>
      <button type="button" (click)="toggleEdit()">Annuler</button>
    </form>
  </ng-template>
</section>

<button (click)="retour()">Retour</button>
