section.modify_ressource_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
  form {
    width: 100%;
  }
  div.ressource_display {
    div.ressource_header {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      h1 {
        text-align: center;
      }
      div.ressource_date_info {
        display: flex;
        gap: 2em;
        background-color: #d4ecdd5e;
        padding: 0.2em 1em;
        border-radius: 1em;
      }
      img {
        max-height: 200px;
      }
    }
  }
}

.Add_paragraph_or_question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  button {
    width: fit-content;
  }
}

.view_paragraph_or_question {
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
    .num_order {
      text-align: center;
      .border {
        border: 1px solid grey;
      }
      p {
        width: 100%;
      }
    }
    .paragraph_container {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 100%;
      gap: 1em;
      p {
        text-align: start;
      }
      img {
        max-height: 200px;
        object-fit: contain;
        object-position: 50% 60%;
        border-radius: 8px;
      }
    }
    .paragraph_admin_tools {
      display: flex;
      gap: 1em;
    }
  }
}

//Pour les écrants de plus de 768px (tablette)
@media screen and (min-width: 768px) {
  section.modify_ressource_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    gap: 1em;
    margin: 1em auto;
    width: 80%;
    form {
      button {
        margin: auto;
        width: fit-content;
      }
    }
    div.ressource_display {
      div.ressource_header {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        div.ressource_date_info {
          display: flex;
          margin: auto;
          width: fit-content;
        }
        img {
          max-height: 380px;
          min-width: 100%;
          object-fit: cover;
          object-position: 50% 60%;
        }
      }
    }
  }

  .view_paragraph_or_question {
    .article {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 1.5em;
      max-width: 90%;
      .paragraph_container {
        img {
          text-align: center;
          object-fit: cover;
          border-radius: 20px;
          max-height: 380px;
          max-width: 80%;
        }
      }
      .paragraph_admin_tools {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
