section.modify_ressource_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
  form {
    width: 100%;
  }
}

.Add_paragraph_or_question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  button {
    width: fit-content;
  }
}

.view_paragraph_or_question {
  .display_mode_container {
    .article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 1em 0;
      gap: 0.5em;
      .num_order {
        text-align: center;
        .border {
          border: 1px solid grey;
        }
        p {
          width: 100%;
        }
      }
      .paragraph_container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        gap: 1em;
        p {
          text-align: left;
          hyphens: auto;
          line-height: 1.5rem;
        }
        img {
          max-height: 200px;
          object-fit: contain;
          object-position: 50% 60%;
          border-radius: 8px;
        }
      }
      .paragraph_admin_tools {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
    }
  }
  .form_paragraph_mode {
    margin: 1em auto;
    gap: 0.5em;
    label {
      width: initial;
    }
  }
}

.view_paragraph_or_question {
  .admin_question_container {
    display: flex;
  }
}

//Pour les écrants de plus de 768px (tablette)
@media screen and (min-width: 768px) {
  section.modify_ressource_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: end;
    gap: 1em;
    margin-left: 6em;
    width: 90%;
    form {
      button {
        margin: auto;
        width: fit-content;
      }
    }
  }

  .view_paragraph_or_question {
    padding: 0.5em 0;
    .display_mode_container {
      .article {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 3em;
        .paragraph_container {
          img {
            text-align: center;
            object-fit: cover;
            border-radius: 20px;
            max-height: 380px;
            max-width: 80%;
          }
          p {
            text-align: justify;
            hyphens: auto;
            word-spacing: -0.5px;
          }
        }
      }
    }
    .form_paragraph_mode {
      width: 70%;
    }
  }
  .Add_paragraph_or_question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    section {
      form {
        gap: 0.5em;
        label {
          width: initial;
        }
        textarea {
          min-width: 450px;
        }
      }
    }
  }
}
