<nav *ngIf="user$ | async as user; else notLoggedIn">
  <ul>
    <div class="left_nav">
      <li [routerLink]="['/home']">Accueil</li>
      <li>Articles</li>
      <li>Tests</li>
    </div>
    <div class="right_nav">
      <div *ngIf="user.type == 'member'">
        <li>Favoris</li>
        <li>Mon espace personnel</li>
      </div>
      <div *ngIf="user.type == 'administrator'">
        <li
          [routerLink]="
            user.type == 'administrator' ? ['/admin/dashbord'] : ['/home']
          "
        >
          Mon espace Admin
        </li>
      </div>
      <li (click)="logout()">Déconnexion</li>
    </div>
  </ul>
</nav>

<ng-template #notLoggedIn>
  <nav>
    <ul class="burger_menu desktop_menu">
      <div class="left_nav">
        <li [routerLink]="['/home']">Accueil</li>
        <li>Articles</li>
        <li>Tests</li>
      </div>
      <div class="right_nav">
        <li [routerLink]="['/login']">Connexion</li>
      </div>
    </ul>
  </nav>
</ng-template>
