<header *ngIf="user$ | async as user; else notLoggedIn">
  <nav>
    <button>
      <a
        [routerLink]="
          user.type == 'administrator' ? ['/admin/dashbord'] : ['/home']
        "
        ><h2>Accueil</h2></a
      >
    </button>
    <img
      src="assets/logo.png"
      alt="logo"
      [routerLink]="
        user.type == 'administrator' ? ['/admin/dashbord'] : ['/home']
      "
    />
    <button (click)="logout()"><h2>Deconnexion</h2></button>
  </nav>
</header>

<ng-template #notLoggedIn>
  <header>
    <nav>
      <button>
        <a [routerLink]="['/home']"
          ><img src="assets/Home.svg" alh="house" />
          <h2>Accueil</h2></a
        >
      </button>
      <img
        class="logo"
        src="assets/logo.png"
        alt="logo"
        [routerLink]="['/home']"
      />
      <button>
        <a [routerLink]="['/login']"
          ><img src="assets/Connexion.svg" alh="people" />
          <h2>Connexion</h2></a
        >
      </button>
    </nav>
  </header>
</ng-template>
