@use "../../../variables" as *;

nav {
  border: 1px solid rgba(0, 0, 0, 0.1);
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3em;
    div {
      display: flex;
      li {
        font-family: $secondTitle_font;
        font-size: 18px;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-collapse: collapse;
        padding: 1em;
        cursor: pointer;
      }
    }
  }

  //   div {
  //     display: flex;
  //     justify-content: space-between;
  //   }
  //   .left_nav {
  //     display: flex;
  //     justify-content: flex-end;
  //   }
  //   .right__nav {
  //     display: flex;
  //   }
}
