@use "../../../variables" as *;

.Add_question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  button {
    width: fit-content;
  }
}

div.result_container{
  div.table_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    table.result_table {
      min-width: 600px;
      border-collapse: collapse;
      width: 100%;

      div.admin_result_tools{
        button{
          min-width: 20px;
        }
      }
    }
  }
}


.view_question {
  margin: 0.5em 0;
  .display_mode_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    .question {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      padding: 1em 0.25em;
      background-color: rgba(212, 236, 221, 0.368627451);
    }
    .question_admin_tools {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }
  .form_question_mode {
    padding: 0.5em;
    label {
      width: 100%;
      font-weight: 800;
    }
    .modify_answer_input_container {
      display: flex;
      flex-direction: column;
      .answer_lign {
        display: flex;
        flex-direction: column;
        .answerTitle_ul {
          display: flex;
          gap: 0.2em;
          label {
            width: 0.7em;
          }
          input {
            min-width: 230px;
          }
          button.delete_answer_button {
            background-color: transparent;
            color: red;
            min-width: 20px;
            padding: 0.1em;
          }
          button.delete_answer_button:hover {
            border: 1px solid red;
          }
        }
        .answerPoint_ul {
          label {
            width: 2.25em;
          }
          input {
            width: 70px;
            min-width: 70px;
          }
        }
      }
    }
  }
}

.secondary_button {
  background-color: $primary_light;
}

.secondary_button:hover {
  background-color: $background-color;
  color: $primary_light;
  border: 1px solid $primary_light;
}
.error {
  color: red;
}
//Pour les écrants de plus de 768px (tablette)
@media screen and (min-width: 768px) {
  .view_question {
    margin: 0.5em auto;
    .display_mode_container {
      flex-direction: row;
      justify-content: center;
      gap: 1em;
      .question {
        width: 50em;
      }
    }
    .form_question_mode {
      width: 800px;
      padding: 1em;
      .modify_answer_input_container {
        display: flex;
        flex-direction: column;
        .answer_lign {
          display: flex;
          flex-direction: column;
          .answerTitle_ul {
            display: flex;
            gap: 0.2em;
            label {
              width: 0.7em;
            }
            input {
              min-width: 90%;
            }
          }
        }
      }
    }
  }
  .Add_question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    section {
      form {
        gap: 1em;
        label {
          width: initial;
        }
        textarea {
          min-width: 450px;
        }
      }
    }
  }
  div.result_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.table_wrapper {
      justify-content: start;
    width: 90%;
      table.result_table {
        width: 90%;
      }
    }
    
  }
}
