$background-color: #fefefe;

$Primary_color: rgba(0, 163, 136, 1);
$primary_light: rgba(159, 195, 57, 100);
$secondary_dark: rgba(206, 197, 25, 1);

$title_font: "Italiana", serif;
$secondTitle_font: "Inconsolata";
$paragraph_font: "Hubballi";
$subtitle: "Hubballi";

$h1_desktop_size: 2.5em; //40px
$h2_desktop_size: 1.5em; //24px
$p_desktop_size: 1em; //16px

$h1_mobile_size: 2em; //32px
$h2_mobile_size: 1.25em; //20px
$p_importante_mobile_size: 1.25em; //20px
$p_mobile_size: 1.125em; //18px

$border_header: 1px solid rgba(0, 0, 0, 0.1);
