$background-color: rgba(255, 254, 254, 1);

$Primary_color: rgba(0, 163, 136, 1);
$primary_light: rgba(159, 195, 57, 100);
$secondary_dark: rgba(206, 197, 25, 1);

$title_font: "Italiana", serif;
$secondTitle_font: "Inconsolata";
$paragraph_font: "Hubballi";
$subtitle: "Hubballi";

$h1_desktop_size: 2.5em; //40px
$h2_desktop_size: 2em; //32px
$p_desktop_size: 1.5em; //24px
