@use "variables" as *;

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $background-color;
}

body {
  margin: 0em 2em;
}

h1 {
  font-family: $title_font;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2em;
}

h2 {
  font-family: $secondTitle_font;
  font-weight: 500;
}

p,
label,
input {
  font-family: $paragraph_font;
  font-size: 1.25em;
}

.subtitle {
  font-family: $subtitle;
  font-size: 1em;
}

button {
  all: unset;
  cursor: pointer;
  background-color: $Primary_color;
  color: $background-color;
  font-family: $secondTitle_font;
  border-radius: 1em;
  padding: 1em;
}

input {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: solid 1px black;
  border-radius: 1em;
  gap: 1em;
  div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    span {
      color: red;
    }
  }
}
