@use "variables" as *;

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $background-color;
}

h1 {
  font-family: $title_font;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2em;
}

h2 {
  font-family: $secondTitle_font;
  font-weight: 500;
  font-size: 1.5em;
}

p,
label,
input {
  font-family: $paragraph_font;
  font-size: 1.25em;
}

.subtitle {
  font-family: $subtitle;
  font-size: 1em;
}

button {
  all: unset;
  cursor: pointer;
  background-color: $Primary_color;
  color: $background-color;
  font-family: $secondTitle_font;
  border-radius: 1em;
  padding: 0.6em;
}

input {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: solid 1px black;
  border-radius: 1em;
  gap: 1em;
  div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    span {
      color: red;
    }
  }
}

header {
  border-bottom: 1px solid black;
  padding: 1em clamp(0.5rem, 4vw, 2rem);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  object-fit: contain;
  .logo {
    max-height: clamp(2rem, 20vw, 5.5rem);
  }
  button {
    all: unset;
    cursor: pointer;
    text-align: center;
    max-height: clamp(2rem, 20vw, 5.5rem);
    a {
      color: black;
    }
    img {
      max-height: clamp(1.5rem, 14vw, 5rem);
    }
  }
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25em;
  font-family: $secondTitle_font;
}

td {
  .admin_tools {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .delete {
    background-color: red;
  }
  .disable {
    color: white;
  }
}

.adminPanel {
  display: flex;
  flex-direction: column;
  gap: 1em;
  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  section.listItems {
    width: 100%;
    table {
      table-layout: auto;
      max-width: 60%;
      border-collapse: collapse;
    }
  }
  section.createItems {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1em;
    button {
      max-width: fit-content;
    }
  }
}

//Pour les écrants de plus de 1024px
// @media screen and (min-width: 1024px) {
//   h2 {
//     font-size: 1em;
//   }

//   .adminPanel {
//     display: flex;
//     flex-direction: row;
//     gap: 2em;
//     section {
//       display: flex;
//       flex-direction: column;
//       gap: 1em;
//       width: auto;
//       table {
//         table-layout: auto;
//       }
//     }
//   }
// }
