@use "variables" as *;

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html,
body {
  width: 100%;
  background-color: $background-color;
  overflow-x: hidden;
}

h1 {
  font-family: $title_font;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: $h1_mobile_size;
}

h2 {
  font-family: $secondTitle_font;
  font-weight: 500;
  font-size: 2em;
  font-size: $h2_mobile_size;
}

p,
label,
input,
textarea {
  font-family: $paragraph_font;
  font-size: $p_mobile_size;
}

label {
  width: 70px;
}

button,
input[type="submit"] {
  all: unset;
  cursor: pointer;
  text-align: center;
  background-color: $Primary_color;
  color: $background-color;
  font-family: $secondTitle_font;
  font-size: $button_desktop_size;
  border-radius: 1em;
  padding: 0.6em;
  width: fit-content;
  min-width: 100px;
  margin: auto;
}

input[type="submit"] {
  cursor: pointer;
  min-width: 150px;
  margin: auto;
}

button:hover,
input[type="submit"]:hover {
  background-color: white;
  color: $Primary_color;
  border: 1px solid $Primary_color;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: solid 1px black;
  border-radius: 1em;
  gap: 1em;
  margin: auto;
  div {
    display: flex;
    // justify-content: space-between;
    // width: 100%;
    gap: 0.5em;
    span {
      color: red;
    }
  }
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25em;
  font-family: $secondTitle_font;
}

.admin_tools {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.delete {
  background-color: red;
}
.disable {
  color: white;
}

.adminPanel {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  overflow-x: auto;
  .sticky {
    position: sticky;
    left: -1px;
    background: white;
    border: 1px solid black;
    z-index: 2;
  }

  .sticky:nth-child(2) {
    /* La deuxième colonne */
    left: 20px;
  }

  th.sticky {
    z-index: 3;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  section.listItems {
    width: 100%;
    table {
      table-layout: auto;
      max-width: 60%;
      border-collapse: collapse;
    }
  }
  section.createItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    button {
      text-align: end;
      justify-content: end;
      margin: initial;
      align-items: end;
    }
  }
}

textarea,
input {
  width: auto; /* Ajuste la taille selon le contenu */
  min-width: 100px; /* Taille minimale pour éviter qu'il soit trop petit */
  max-width: 100%; /* Évite qu'il déborde de l'écran */
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid $Primary_color;
}

//Pour les écrants de plus de 1024px
@media screen and (min-width: 1024px) {
  h1 {
    font-size: $h1_desktop_size;
  }

  h2 {
    font-size: $h2_desktop_size;
  }

  p,
  label,
  input,
  textarea {
    font-size: $p_desktop_size;
  }

  label {
    width: 110px;
  }

  .adminPanel section.listItems table {
    max-width: 100%;
  }
  .adminPanel .sticky {
    background: transparent;
  }

  li {
    font-size: $button_desktop_size;
  }
}
